body {
    /*D1D367 - Amarillo*/
    /*C28990 - Lila*/
    /*AF144A - Rosa fuerte*/
    color: purple;
    background-color: #DAA7D8;
    /*margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;*/
}
h1, #encabezadoParrafo{
    text-align: center;
}
#encabezado{
    width: 100%;
    height: 250px;

}<!--  -->
#menu{
    width: 99%;
    height: 40px;
    background-color: #A14991;
    position: fixed;
}
#opciones{
    margin: 0;
    padding: 0;
    margin-right: 30%;
}
#opciones li{
    display: block;
    float: right;
    margin: 10px;
    margin-right: 10px;
}
#opciones li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#pestaña{
    text-align: center;
}
#infoPersonal{
    background-color: #F5CDDB;
    border-radius: 37%;
    border-style: solid;
    padding-top: 30px;
    margin-top: 15px;
}
#infoEscolar{
    background-color: #CDECF5;
    border-radius: 37%;
    border-style: double;
}
#infoLaboral{
    background-color: #DAF7A6;
    border-radius: 37%;
    border-style: dashed;
}
section{
    padding: 30px;

}
img{
    margin-left: 50%;
    width: 80px;
    height: auto;
    border-radius: 50%;
}
footer{
    text-align: center;
}